@CHARSET "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue",	Helvetica, "BBAlpha Sans", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}
/* Add tabbar need bottom space  ------------------------------------------------------------------ */
/* Agregar tabbar neceista espacio abajo */
#mui-viewport {
	top: 0px;
	bottom: 48px; 
}
/*Page sample  ------------------------------------------------------------------ */
.mui-page-header {
	background-color: #ecf0f1;
	border-bottom: solid 1px #bbb;
}
.mui-page-logo {
	width: 40px;
	height: 40px;
	margin: auto;
	background-position: center;
	background-image: url(images/logo-40.png);
	background-repeat: no-repeat;
}
.mui-page-title {
	width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
.mui-page-body {}
.mui-page-body-content {
	padding: 10px;
}
/* GoBack button ------------------------------------------------------------------ */
.mui-backarrow {
	position: absolute;
	top: 4px;
	left: 5px;
	width: 40px;
	height: 37px;
}
.mui-backarrow:after {
	font-family: FontAwesome;
	content: '\f104';
	font-size: 35px;
	color: #1A7EFA;
}
/* Menu button ------------------------------------------------------------------ */
.mui-headmenu {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45px;
	height: 37px;
	text-align: right;
}
.mui-headmenu:after {
	font-family: FontAwesome;
	content: '\f0c9';
	font-size: 25px;
	color: #1A7EFA;
}
/* Tabbar sample ------------------------------------------------------------------ */
.mui-tabbar {
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0px;
	background-color: #FAFAF9;
}
.mui-tabbar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.mui-tabbar ul li {
	width: 20%;
	height: 48px;
	float: left;
	position: relative;
}
.mui-tabbar ul li:before {
	font-family: 'FontAwesome';
	font-size: 27px;
	display: block;
	width: 100%;
	height: 26px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 0px;
	content: ' ';	
	margin-top: 5px;
}
.mui-tabbar ul li:hover:before {}
.mui-tabbar ul li:nth-child(1):before {
	content: "\f087";
}
.mui-tabbar ul li:nth-child(2):before {
	content: "\f0a6";
}
.mui-tabbar ul li:nth-child(3):before {
	content: "\f25b";
}
.mui-tabbar ul li:nth-child(4):before {
	content: "\f0a5";
}
.mui-tabbar ul li:nth-child(5):before {
	content: "\f0a4";
}
.mui-tabbar ul li a {
	font-size: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 48px;
    top: 0px;
    left: 0px;
    padding-top: 33px;
}
/* Menu sample ------------------------------------------------------------------ */
#menu-panel {
	top: 0px;
	left: 100%;
	width: 90%;
	max-width: 250px;
	height: 100%;
	background-color: #575757;
	color: #fff;
}
.mui-panel-header {
	display: none;
}
